/**
* Base
**/

* {
    box-sizing: border-box;
}

html,
body,
.app,
.container {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $color-black;
    color: $color-text-default;
    font-family: $font-base;
    font-weight: $font-weight-bold;
}
