/**
 * Command Line
 */

.command {
    display: inline-block;
    margin-right: $space-third;
    vertical-align: middle;
}

/**
 * Path
 */

 .command__path {}

 /**
  * History
  */

 .command__history {
     .command {
         display: block;
     }

     .command__path {
         white-space: pre;
     }
 }

 /**
  * Input
  */

.command__input {
    display: inline-block;
    vertical-align: middle;
    white-space: pre;
}

.command__hidden {
    -webkit-appearance: none;
    background: none;
    border: 0;
    display: inline-block;
    outline: 0;
    padding: 0;

    // invisible-ness
    height: 0;
    position: absolute;
    width: 0;
    // box-shadow: inset 0 0 0 1px #f00;
    // color: red;

    &:focus,
    &:active {
        outline: 0;
    }
 }

/**
 * Text
 */

.command__text {
    @extend .terminal__text;
}
