/**
 * Status bar
 */

.status-bar {
    box-shadow: inset 0 0 0 1px #f00;
}

/**
 * Time
 */

 .time {
     @extend .terminal__text;

     time {
         float: right;
     }     
 }

/**
 * Last Login
 */

.last-login {
    float: left;
}

.last-login__text {
    @extend .terminal__text;
}
