/**
 * Terminal
 */

.terminal {
    clear: both;
}

/**
 * Empty Line
 */

.terminal__empty-line {
    height: $normalis;
}

/**
 * Text
 */

.terminal__text {
    color: $color-white;
    font-family: $font-base;
    font-size: $normalis;
    font-weight: $font-weight-bold;
}

/**
 * Caret
 */

@keyframes blink {
    0%     { opacity: 1; }
    50%    { opacity: 0; }
    100%   { opacity: 1; }
}

// calucalate character width http://jsfiddle.net/eNzjZ/34/
$caret-width: 9.6015625px;
$caret-height: 1rem;
$caret-blink: 1000ms;

.terminal__caret {
    animation: blink 750ms infinite steps(1);
    background-color: $color-white;
    backdrop-filter: invert(100%);
    display: inline-block;
    height: $caret-height;
    position: relative;
    vertical-align: middle;
    width: $caret-width;
    will-change: opacity, transform;
}
